type hal_display_hwservice, hwservice_manager_type;
type hal_imsrcsd_hwservice, hwservice_manager_type;
type hal_qspmhal_hwservice, hwservice_manager_type;
type hal_atfwd_hwservice, hwservice_manager_type;